<h1 id="markdown">Markdown</h1>
<hr>
<p>这里所有的markdown写法</p>
<hr>
<h2 id="-">二级标题</h2>
<p>简单文字<strong>粗体文字</strong>简单文字<em>斜体文字</em> </p>
<h3 id="-">列表</h3>
<ul>
<li>list 1</li>
<li>list 2</li>
</ul>
<ol>
<li>新列表1</li>
<li>新列表2</li>
</ol>
<blockquote>
<p>带背景的list:</p>
<ul>
<li>list 1</li>
<li>list 2</li>
</ul>
</blockquote>
<h4 id="3-">3级标题</h4>
<p>键盘符号 <kbd>Ctrl+[</kbd> and <kbd>Ctrl+]</kbd>.</p>
<h3 id="-">表格</h3>
<p>简单表格:</p>
<table>
<thead>
<tr>
<th>Item</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>Computer</td>
<td>$1600</td>
</tr>
<tr>
<td>Phone</td>
<td>$12</td>
</tr>
<tr>
<td>Pipe</td>
<td>$1</td>
</tr>
</tbody>
</table>
<p>特殊单元格的写法:</p>
<table>
<thead>
<tr>
<th style="text-align:left">Item</th>
<th style="text-align:right">Value</th>
<th style="text-align:center">Qty</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">Computer</td>
<td style="text-align:right">$1600</td>
<td style="text-align:center">5</td>
</tr>
<tr>
<td style="text-align:left">Phone</td>
<td style="text-align:right">$12</td>
<td style="text-align:center">12</td>
</tr>
<tr>
<td style="text-align:left"><code>&#39;Isn&#39;t this fun?&#39;</code></td>
<td style="text-align:right">$1</td>
<td style="text-align:center">234</td>
</tr>
</tbody>
</table>
<h3 id="-">代码块</h3>
<pre><code>&lt;script type=&quot;text/javascript&quot; src=&quot;https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML&quot;&gt;&lt;/script&gt;
</code></pre><pre><code>// Foo
var bar = 0;
</code></pre><h3 id="-">连接</h3>
<p>  <a href="http://www.shareyo.net/">香柚</a> </p>
<h3 id="-">图片</h3>
<p>  <img src="http://www.shareyo.net/Upload/Document/5606/image/20170512164121398.jpg" alt="图片"></p>
